.budjet-c {
  width: 500px;
border-radius: 20px;
  border: solid 1px gray;
  margin: 20px 0;
  padding: 20px ;
  font-size: 12px;
  color: gray;
}
.budjet-table-a {
  width: 70%;
}
.center-text {
    overflow-wrap: break-word; 
    white-space: nowrap;
      width: 50%;
}

.budjet-table-a td {
  border: solid 1px black;
  text-align: center;
  line-height: 2;
}
.budjet-table-a tr {
  border: solid 1px black;
  text-align: center;
  line-height: 2;
}

.budjet-table-b {
  height: 40px !important;
  width: 100px;
  table-layout: fixed;
  
}

.budjet-table-b td {
  border: solid 1px black;
  text-align: center;
  line-height: 2;
  vertical-align: middle; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.rows {
  border-bottom: 1px solid black;
}
.budjet-table-c {
  width: 70%;
  text-align: center;
}
.budjet-table-c td{
    border: solid 1px black;
    line-height: 2;
}
.merit-bdjy-c-btn {
  display: flex;
  justify-content: end;
  gap: 5px!important;
  margin-top: 20px;
  
}
.merit-bdjy-c-btn button{
  width: 70px!important;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
