.cyclecontainer{
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    width: 100%;
}
.component-currency
{
   display: flex;
    gap: 20px;  
    padding: 10px 20px;
}
.cycleradios{
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
.cyclecontainer{
    display: flex;
    /* gap: 20px; */
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}


.cyclewrapper{
    padding: 20px;
}
.cycle{
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 12px;
}
.continue_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    background-color:#1877d2;
    color: white;
    cursor: pointer;
   font-family: 'Roboto Condensed', sans-serif!important;
    border: 6px solid rgba(249, 249, 253, 0.378)!important;
    border-radius: 30px!important;
}
.back_button{
    height: 50px;
    width: 130px;
    background-color:#ffffff;
    color: #1877d2;
    font-family: 'Roboto Condensed', sans-serif!important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid rgba(66, 83, 195, 0.378)!important;
    border-radius: 30px!important;
    cursor: pointer;
}
.button-container{
    display: flex;
    justify-content: flex-end;
    padding: 10px 49px;
    gap: 50px;
}
.radiobuttons{
    display: flex;
    gap: 50px;
    width: 70%;
}
.component-salary{
    max-width: 50%;
}
.inputcontainer input{
    border: 1px solid #8080804f;
    border-radius: 12px;
    padding: 7px;
}
.inputcontainer {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 70%;
}
.labels{
    width: 30%;
}
.heading-container{
    padding: 20px;
    
}
label{
    display: flex;
    gap: 16px;
}

.plus-button{
    
    background-color: #1877d2;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    cursor: pointer;
    
}

.plus-button:hover{
    background-color: #185dbf;
}