* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  
  overflow-x: hidden !important;
}
.login-container .left-section .quotes p {
  font-size: 12px;
  font-style: italic;
}

.login-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.left-section {
  flex: 1;
  background-color: #033772;

  color: white;
}
.quotes span {
  font-size: 0.75rem;
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 13rem;
}
.login-line {
  width: 10px;
  margin-right: 5px;
}

.left-section p {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;

  /* max-width: 80%; */
}

.right-section {
  flex: 1;
  background-color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: "Roboto Condensed", sans-serif;
}

.login-form {
  /* width: 80%;
      max-width: 400px; */
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: "Roboto Condensed", sans-serif;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  /* border: none; */
  border-radius: 5px;
  /* background-color: #dae9f7; */

}


.right-section .footer {
  padding: 30px;
}
.half-circle-big {
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
  border: 5px solid rgb(237, 231, 231);
  position: relative;
  overflow: hidden;
  margin-left: auto; /* Push the circles to the right */
  overflow-x: unset;
  margin-right: -25rem;
  margin-bottom: 12rem;
}
.half-circle-small {
  border-radius: 50%;
  width: 23rem;
  height: 23rem;
  border: 50px solid rgb(237, 231, 231);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.login-form button {
  width: 100%;
  margin-top: 15px;

  background-color: #033673;
  color: white;
  border: none;
  border-radius: 25px;
  height: 35px;
  cursor: pointer;
}
.left-section .logo {
  min-height: 70px;
  padding: 30px 50px;
}
.left-section .quotes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 65%;
  width: 100%;
  padding: 50px;
  align-items: flex-start;
  color: #ededed;
}
.login-section {
  position: absolute;
  max-width: 400px;
  min-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.forgot-register-section p {
  text-align: center;

  font-size: 14px;
  font-weight: 400;
}
.forgot-register-section p a {
  color: grey;
  text-decoration: none;
  font-size: 14px;
}
.forgot-register-section p p{
  font-family: 'Roboto Condensed', sans-serif!important;
}
.input-container {
  position: relative;
}

.input-container input {
  width: 100%;
  padding: 10px 40px 10px 10px; /* Adjust the right padding to accommodate the icon */
  border: 1px solid #ccc;
  border-radius: 3px;
}

.icon {
  margin-left: -20px;
  /* position: absolute;
  top: 25%;
  right: 10px; /* Adjust the position as per your requirements 
  transform: translateY(-50%); */
}
.straight-line {
  color: white;
  border: none;
  height: 1px;
  background-color: white;
  width: 20px;
  margin: 10px;
  margin-left: -50px;
}

.login-section .login-form h3 {
  font-size: 14px;
  font-weight: bolder;
  padding-bottom: 20px;
  color: #212529;
}

/* placeholder up */
/* .input-set {
  position: relative;
} */
/* .placeholder {
  position: absolute;
  top: 6px;
  left: 12px;
  transition: 0.5s ;
  pointer-events: none;
  font-size: 12px;
  color: #3d3c3c;
  font-weight: 500;
  font-family: "Roboto Condensed", sans-serif;
}
.input { */
  /* position: absolute; */
  /* border: none;
  background-color: white !important;
  border-bottom: 1px solid rgb(181, 179, 179) !important;
  height: 30px;
  
} */
/* .input:focus ~ .placeholder {
  top: -12px;
  left: 2px;
  font-size: 10px;
  color: #5c5b5b;
} */


/* .input:focus {
  outline: none; 
} */




@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .login-container {
    flex-direction: column;
  }
  .left-section,
  .right-section {
    height: auto;
  }
}

@media (max-width: 900px) {
  .left-section .quotes {
    height: 15%;
    padding: 36px;
  }
  .half-circle-big,
  .half-circle-small {
    display: none;
  }
}
@media (max-width: 425px) {
  .left-section .quotes {
    padding: 36px 27px;
  }
  .quotes span {
    margin-left: 8rem;
  }
}
