.Culture-inputbox-container {
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1000px; /* Adjust the maximum width as needed */
    margin: 0 auto;
   
   
    
   
    
  }
  .Culture-inputbox-container li input  {
    width: 140px;

  }
  .Culture-inputbox-container ul li{

    font-size: 13px;
    align-items: center;
    display: flex;
    font-family: 'Inter', sans-serif;

  }
  
  .Culture-inputbox-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
    
  }
  
  .Culture-inputbox-list li {
    /* Adjust the width and spacing as needed */
    margin-bottom: 20px;
    
    
  }
  
  .Culture-inputbox-list label {
    display: block;
    margin-bottom: 5px;
  }
  
  .terminology-input{
    margin-left: -80px;
    
  }



