.merit-metrix-left{
    width: 25%;
    height: 100%;
    font-family: 'Inter', sans-serif;
}
.target-icon{
    font-size: 40px;
    margin-right: 15px;
    color: gray;
}
.merit-metrix-left h2, h3{
    color: gray;
 
}
.merit-metrix-left h2{
    font-size: 14px;
}
.merit-metrix-left h3{
    font-size: 14px;
}

