.merit {
  width: 100%;
  padding: 50px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 35px;
}
.merit input::placeholder{
  position: absolute;
  font-size: 13px;
  left: 5px!important;
  top: 5px;
}
.merit h2 {
  font-weight: 600;
}
.merit h3 {
  color: gray;
}
.merit input[type="radio"] {
  margin-right: 5px !important;
}
.merit-budjet input[type="text"]{
    border: 1px solid gray;
   width: 80px;
   height: 30px;
   border-radius: 20px;
}
.merit-budjet input[type="text"]:hover{
  border: 1px solid #1877d2;

}
.merit-budjet input[type="text"]:focus{
  border: 2px solid #1877d2;
  outline: none;
  
}